@model MvcCalendarEventV2Test.Models.CalendarForm
@{
    ViewBag.Title = "Create";
}
<h2>Form_of_Study</h2>

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.FormName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.FormName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FormName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}  
<div>
    <input type="button" class="btn btn-primary" value="Back to List" onclick="location.href='@Url.Action("Index", "CalendarForm")'" />
</div>